
  <div class="container">

    <h1 class="mb-4">Se a enviado un correo electronico a la direccion registrada</h1>
    <div class="alert alert-success" role="alert">
       <h6>{{email}}</h6>
    </div>

    
  <form action="/" method="GET" style="display: inline;">
    <button type="submit" class="btn btn-link">
      <i class="fas fa-home fa-2x"></i>
      <span class="badge badge-danger">{{cartItemCount}}</span>
      <span>Home</span>
    </button>
  </form>

    </div>
    <div class="text-right">

