<div class="container">
  <h1 class="mb-4">Compra Exitosa</h1>
  <div class="alert alert-success" role="alert">
    <p class="mb-0">Se ha enviado un correo a tu dirección registrada con los detalles de la compra.</p>
  </div>

</div>

  <form action="/" method="GET" style="display: inline;">
    <button type="submit" class="btn btn-link">
      <i class="fas fa-home fa-2x"></i>
      <span class="badge badge-danger">{{cartItemCount}}</span>
      <span>Home</span>
    </button>
  </form>
