<div class="container">
  <h1 class="mb-4">Compra Fallida</h1>
  <div class="alert alert-danger" role="alert">
    <p class="mb-0">Por favor solicite nuevamente el restablecimiento.</p>
  </div>
 
  <form action="/" method="GET" style="display: inline;">
    <button type="submit" class="btn btn-link">
      <i class="fas fa-home fa-2x"></i>
      <span class="badge badge-danger">{{cartItemCount}}</span>
      <span>Home</span>
    </button>
  </form>
</div>
