<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Logo</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/novela">Novela</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/filosofia">Filosofía</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/historico">Histórico</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/autoayuda">Autoayuda</a>
      </li>
    </ul>

    <a class="nav-link" href="/carrito">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
        <path d="M0 1.5A.5.5 0 0 1 .5 1h1a.5.5 0 0 1 .5.5v.879l1.276-1.277A.5.5 0 0 1 4.707 1h6.586a.5.5 0 0 1 .355.146l2.647 2.646A.5.5 0 0 1 14 4.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5V10h11V4H2V1.5z"/>
      </svg>
      Carrito de Compras
    </a>
  </div>
</nav>
