<html>
  <head>
    <title>Compra Exitosa</title>
  </head>
  <body>
        <a class="navbar-brand" href="/products">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-house"
        viewBox="0 0 16 16">
        <path
          d="M13.5 8.928V14h-3v-3H6v3H3.5v-4.072l-2-.5V15h14v-5.644l-2 .5zm-1.446-.53L8 4.115 3.946 8.398l-.894-.448L8 2 14.948 7.95l-.894.447z" />
      </svg>
    </a>
    <h1>Compra Exitosa</h1>

    <p>La compra se ha realizado correctamente.</p>
  </body>
</html>
